
body {
  margin: 0;
  padding:0;
}

li, a, span, p, h1, h2, h3, input, label, textarea, button {
  font-family: program, sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 20pt;
}

h1, h2, h3, a.button-cta {
  font-weight: 500;
}

a.button-cta {
  background-color: #FFEE00;
  width: 0;
  color: #666;
  text-transform: uppercase;
  font-size: 25pt;
  padding: 15pt 30pt;
  margin: 0;
  border-radius: 54pt;
  text-align: center;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.container {
  width: 90%;
  margin: 0 5%;
}

#eyecatcher {
  position: relative;
  background-image: url(/images/eyecatcher.jpg);
  background-size: cover;
  background-position: 20% 30%;
  height: 150pt;

  header {
    padding: 20pt 0;
    display: flex;

    nav {

      flex-grow: 1;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      li, a {
        margin: 0;
        padding: 0;

        color: #FFF;
      }
      li {
        padding: 0 40px;
      }
      a {
        font-size: 20pt;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.3;
        font-weight: 400;
      }
      a:hover {
        color: #FFEE00;
      }
    }

    .logo {
      display: flex;
      justify-content: right;
      align-items: center;
      
      span {
        font-size: 30pt;
        color: #fff;
        text-transform: uppercase;
        margin-right: 10pt;
        text-shadow: #00000040 0.5pt 0.5pt 8pt;
      }
      img {
        height: 50pt;
      }
    }
  }

  .eyecatcher-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50pt;

    text-align: center;

    h1, h2 {
      color: #FFF;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 18vw;
    }
    h2 {
      font-size: 12vw;
    }
  }

  .eyecatcher-scroll {
    position: absolute;
    bottom: -2.5vh;
    transform: translateY(50%);
    display: flex;
    width: 100%;
    justify-content: center;

    svg {
      font-size: 30pt;
      color: #00000029;
    }

  }
}

.home #eyecatcher {
  height: 95vh;
}

#contact {
  padding: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .contact-intro {
    width: 100%;
    text-align: center;
    color: #666;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      a, a:visited {
        margin-left: 20pt;
        transition: color 0.3s;
        color: #444444;
      }
      a:hover {
        color: #1B6163;
      }
      margin: 20pt 0pt;

      &:first-of-type {
        margin-top: 40pt;
      }
    }



    svg {
      background-color: #33CCCC;
      color: #fff;
      padding: 15pt;
      border-radius: 50%;
      height: 15pt;
      width: 15pt;
      display: inline-flex;
      justify-content: center;
    }
  }

  h2 {
    color: #33CCCC;
    font-size: 60pt;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  #ContactForm {
    
    padding: 20pt;
    width: 100%;
    max-width: 600pt;
    margin-top: 40pt;

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30pt;
    grid-row-gap: 30pt;

	  .big {
      grid-column: span 2;
    }  

	  label {
		  display: none;
	  }
  
    input, textarea {
		  font-size: 20pt;
      background-color: #fff;
      color: #555555;
      border-radius: 10pt;
      box-shadow: 0.5pt 0.5pt 4pt #00000020;
    }

  
	  input {
		  box-sizing: border-box;
		  display: block;
		  width: 100%;
		  padding: 10px;
		  border: none;
		  border-bottom: #00000040 2pt solid;
		  outline: none;
		  
		  :focus {
			  border-bottom: #33CCCC 2px solid;
		  }
		  :invalid {
			  border-bottom: #a00 2px solid;
		  }
		  :valid {
			  border-bottom: #0a0 2px solid;
		  }
	  }  
  
	  textarea {
		  box-sizing: border-box;
		  display: block;
		  width: 100%;
		  padding: 10px 10px;
		  border: none;
		  border-bottom: #00000040 2pt solid;
		  outline: none;
		  
		  :focus {
			  border-bottom: #33CCCC 2px solid;
		  }
		  :invalid {
			  border-bottom: #a00 2px solid;
		  }
		  :valid {
			  border-bottom: #0a0 2px solid;
		  }
  
	  }
  
	  .dsgvo-confirm {

      grid-column: span 2;
      display: flex;

		  input {
        margin-right: 1em;
        width: 20pt;
		  }
  
		  label {
        flex-grow: 1;
        color: #666666;
        display: block;
        font-size: 12pt;

        a, a:visited {
          transition: color 0.3s;
          color: #444444;
          font-size: 12pt;
        }
        a:hover {
          color: #1B6163;
        }
		  }
	  }
  

    .contact-buttons {

      display: flex;
      justify-content: center;

      .button {
        display: inline;
        background-color: #33CCCC;
        color: #fff;
        text-transform: uppercase;
        font-size: 20pt;
        padding: 10pt 15pt;
        border-radius: 54pt;
        text-align: center;
        opacity: 0.7;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  
	  .formstatus {
  
      text-align: center;

      span {
        font-size: 16pt;
        color: #666666;
      }
  
		  span:before {
			  display: inline-block;
			  font-style: normal;
			  font-variant: normal;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  font-family: Font Awesome\ 5 Free;
			  font-weight: 900;
			  margin-right: 0.5em;
		  }
	  }
	  .form-success span:before {
		  content: "\f058";
		  color: #33CCCC;
	  }
	  .form-failed span:before {
		  content: "\f057";
		  color: #933;
	  }
	  .form-sending span:before {
      content: "\f110";
      animation: spin 2s infinite linear;
	  }
  }
}

footer {
  background-color: #333333;
  padding: 80px 0px;
  color: #999999;

  span, a {
    font-size: 16pt;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-company {
    span, a {
      display: block;
    }
    .company-name {
      font-weight: 500;
    }
  }

  .footer-legal {

    text-align: right;

    span, a {
      display: block;
    }

    a, a:visited {
      color: #bbbbbb;
    }

    a:hover {
      color: #ffffff;
    }
  }
}


.impressum, .datenschutz {

  h1, h2, h3, h4 {
    color: #33CCCC;
    font-weight: 500;
  }

  h1 {
    font-size: 50pt;
    text-transform: uppercase;
  }

  h2 {
    font-size: 30pt;
  }

  h3 {
    font-size: 20pt;
  }

  .language-switch {
    border-radius: 200pt;
    float: right;

    button, button:hover, button:focus, button:active {
      outline: none;
      border: none;
      color: #33CCCC;
      padding: 10pt 20pt;
      border: solid 2px #33CCCC;
      text-transform: uppercase;
      font-size: 16pt;
      cursor: pointer;
      transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    }

    button:first-child {
      border-radius: 20pt 0 0 20pt;
    }

    button:last-child {
      border-radius: 0 20pt 20pt 0;
    }

    button.active {
      background-color: #33CCCC;
      color: #fff !important;
      &:hover {
        background-color: #1B6163;
      }
    }

    button:hover {
      border-color: #1B6163;
      color: #1B6163;
    }

  }

  #content {

    padding: 80pt 0;

    p, span, a, div {
      color: #666666;
    }
    a, a:visited {
      color: #444444;
    }
    a:hover {
      color: #1B6163;
    }
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}



